{% extends "components/user/base" %}

{% block content %}
    <div class="index-container">
        <div class="about-container">
            <p>I'm Joe Fox, and this is my website. I am a computer science student at the university of Huddersfield, aiming to graduate in 2018.</p>
            <p>This site is both my blog and portfolio.</p>
        </div>
        <div>
            <h2>Latest blog post</h2>
            {% include "components/user/blog-post" %}
        </div>
        <div>
            <h2>Projects include</h2>
            {% include "components/user/project"  %}
        </div>
    </div>
{% endblock %}
