.contact-wrapper {
    width: calc(100% - 20px);
    padding: 10px;
    box-shadow: 0 0 5px $color-black;
}

.contact-row-form {
    width: 100%;
    padding: 10px;

    .form-row {
        display: grid;
        width: calc(100% - 20px);
        grid-template-columns: 25% 75%;

        textarea {
            resize: none;
            height: 180px;
        }
    }

    .contact-submit {
        width: calc(100% - 20px);
    }
}

.contact-row-social {
    height: 500px;

    &-small {
        text-align: center;
    }
}

.twitter-container, .reddit-container {
    width: calc(50% - 20px);
    padding: 10px;
    float: left;

    .rembeddit {
        height: 480px;
    }
}

@media (max-width: 700px) {
    .twitter-container, .reddit-container {
        width: calc(100% - 20px);
    }

    .contact-row-social {
        height: 1000px;
    }
}
