.login-container {
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 50px 50px 50px;
    grid-gap: 10px;
    margin: 10px;

    input {
        width: calc(100% - 30px);

        &[type=text], &[type=password] {
            border: none;
            border-bottom: 1px solid $color-mid-grey;
        }
    }

    .login-submit {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
