<form method="POST" id="blog-form">
    {{ csrf_field() }}
    <div class="blog-editor">
        <div class="manage-blog-item blog-fullwide">
            <h2>Write a new blog post</h2>
        </div>
        <div class="manage-blog-item">
            <label for="title">Post Title: </label>
        </div>
        <div class="manage-blog-item">
            <input id="blog-title" type="text" name="title">
        </div>

        <div class="manage-blog-item">
            <label for="content">Post content: </label>
        </div>
        <div class="manage-blog-item">
            <textarea id="blog-content" name="content" form="blog-form"></textarea>
        </div>

        <div class="manage-blog-item blog-fullwide">
            {# Blog posts and previews are react components #}
            <div id="blogpost" class="preview"></div>
        </div>

        <div class="manage-blog-item">
            <label for="preview-confirm">Confirm preview: </label>
        </div>
        <div class="manage-blog-item">
            <input type="checkbox" name="preview-confirm">
        </div>

        <div class="manage-blog-item">
            <label for="publish">Publish this blog post: </label>
        </div>
        <div class="manage-blog-item">
            <input type="checkbox" name="publish">
        </div>

        <div class="manage-blog-item blog-fullwide">
            <input type="submit" value="Submit">
        </div>
    </div>
</form>
