
<form method="POST" id="blog-form">
    {{ csrf_field() }}
    <div class="blog-editor">
        <label for="title">Post Title: </label>
        <input type="text" name="title">
        <br />

        <label for="content">Post content: </label>
        <textarea name="content" form="blog-form"></textarea>
        <br />

        <div class="preview">Stick the preview in here</div>
        <br />

        <label for="preview-confirm">Confirm preview: </label>
        <input type="checkbox" name="preview-confirm">
        <br />

        <label for="publish">Publish this blog post: </label>
        <input type="checkbox" name="publish">
        <br />

        <input type="submit" value="Submit">
    </div>
</form>
