{{ posts.links('components/common/pagination') | raw }}
{% for post in posts %}
    {% if loop.first %}
        <div class="post-management-list">
    {% endif %}
    <p>{{ post.title }}</p>
    {% if loop.last %}
        </div>
    {% endif %}
{% endfor %}
{{ posts.links('components/common/pagination') | raw }}
