# .ebextensions/joefoxdevelopment.config

# Anything else that should happen is added here

packages:
  yum:
    nodejs: []

commands:
  01_nvm_node_set_up:
    command: 'curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.6/install.sh | bash'
    command: '. ~/.nvm/nvm.sh'
    command: 'nvm install 8.*'
  02_laravel_mix:
    command: 'npm install && npm run production'
