# .ebextensions/joefoxdevelopment.config

# Anything else that should happen is added here

commands:
    01_node_install:
        cwd: /tmp
        test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
        command: 'curl --silent --location https://rpm.nodesource.com/setup_8.x | sudo bash -'
        command: 'yum install -y nodejs'
    02_npm_install:
        cwd: /tmp
        test: '[ ! -f /usr/bin/npm ] && echo "npm not installed"'
        command: 'curl -L http://npmjs.org/install.sh | sh'
    03_node_update:
        cwd: /tmp
        test: '[ ! -f /usr/bin/n ] && echo "node not updated"'
        command: 'npm install -g n && n stable'

container_commands:
    01_laravel_mix:
        command: 'npm install && npm run production'
