{% extends "components/management-console/base" %}

{% block content %}
    <a href="{{ route('blog-management-index') }}">Manage Blog Posts</a>
    <a href="{{ route('project-management-index') }}">Manage Projects</a>
{% endblock %}
