.env
/.idea
/.vagrant
/.vscode
/node_modules
/public/hot
/public/css/app.css
/public/js/app.js
/public/storage
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
package-lock.json
yarn-error.log
