<!DOCTYPE HTML>
<html>
    <head>
        {% block head %}
            {% include 'components/head' %}
        {% endblock %}
    </head>
    <body>
        <div id="nav" class="nav"></div>

        {% block content %}
            {# Page content will go here #}
        {% endblock %}

        <div id="footer" class="footer"></div>
    </body>
    {% include 'components/scripts' %}
</html>
