<div class="blog-list-container">
    <h2>Blog</h2>
    {% for post in posts %}
        {% if loop.first %}
            <div class="blog-list-entry">
        {% endif %}
            <a class="blog-entry-link" href="{{ route('blog-post', [post.blogpost_id, str_slug(post.title)]) }}">
                {% include "components/user/blog-post" %}
            </a>
        {% if loop.last %}
            </div>
        {% else %}
            <hr>
        {% endif %}
    {% else %}
        <h5>There are no blog posts to to display at the moment. Please check back again soon</h5>
    {% endfor %}
    {{ posts.links('components/common/pagination') | raw }}
</div>
