<div class="contact-wrapper">
    {% include "components/user/contact-form" %}
    <div class="contact-row-social-small">
        {% include "components/user/social/github" %}
    </div>
    <div class="contact-row-social-small">
        {% include "components/user/social/linkedin" %}
    </div>
    <div class="contact-row-social">
        {% include "components/user/social/twitter" %}
        {% include "components/user/social/reddit" %}
    </div>
</div>
