<div class="blog-entry">
    <h3>{{ project.title }}</h3>
    {% if project.link != '#' %}
        <a href="{{ project.link }}">Project available here</a>
    {% endif %}
    <div class="blogpost-contents">{{ project.contents | raw }}</div>
</div>
