{% extends "components/management-console/base" %}

{% block content %}
    <a href="{{ route('new-blog-post') }}">Write New Blog Post</a>
    {% if posts is defined and not posts is empty %}
        {% include "components/management-console/blog-list" %}
    {% else %}
        <h5>There are no blog posts to display</h5>
    {% endif %}
{% endblock %}
